body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #ff6347;
    color: white;
    text-align: center;
    padding: 20px;
}

section {
    padding: 20px;
}

.produto {
    display: inline-block;
    width: 45%;
    margin: 10px;
    padding: 10px;
    background-color: white;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.produto img {
    width: 100%;
    height: auto;
}

footer {
    text-align: center;
    background-color: #ff6347;
    color: white;
    padding: 10px;
}
